.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 140px;
  margin-bottom: -140px;
  border-left: 1px solid #464545;
  border-right: 1px solid #464545;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

.force-right-divider{
    border-right: 1px solid #464545 !important;
}

.force-left-divider{
    border-left: 1px solid #464545 !important;
}

.hClock{
    font-size:3.2em;
    font-weight: 700;
}

.at_lightbulb_descriptor{
    display: block;
    margin-top:12px;
}

.viewPage{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
}
